<h3>Number</h3>
{{3 | number: '2.1-2'}} <br>
{{3.12 | number: '2.1-2'}} <br>
{{3.19 | number: '2.1-1'}} <br>
<hr>
<h3>Percent</h3>
{{0.124567 | percent}} <br>
{{0.124567 | percent:"2.1-2"}} <br>
{{0.124567 | percent:"10.4-4"}}
<hr>
<h3>Slice</h3>
{{[1, 2, 3, 4, 5, 6, 7, 8] | slice:1:3}} <br>
{{[1, 2, 3, 4, 5, 6, 7, 8] | slice:1}} <br>
{{[1, 2, 3, 4, 5, 6, 7, 8] | slice:1:-1}} <br>
{{"Bob Ross was a great painter" | slice:21}}
<ul>
  <li *ngFor="let element of [1,2,3,4,5,6,7] | slice:5">{{element}}</li>
</ul>
<h3>Currency</h3>
{{1234.56 | currency}} <br>
{{1234.56 | currency:"CAD"}} <br>
{{1234.56 | currency:"CAD":"code"}} <br>
{{1234.56 | currency:"CAD":"symbol"}} <br>
{{1234.56 | currency:"CAD":"symbol-narrow"}} <br>
{{1234.56 | currency:"CAD":"CANADIAN DOLLARS"}} <br>
<!-- deprecated: -->
{{1234.56 | currency:"CAD":true}} <br>
{{1234.56 | currency:"CAD":false}}
<hr>
<h3>Lowercase/Uppercase</h3>
{{"code.hub" | lowercase}} <br>
{{"code.hub" | uppercase}}
<hr>
<h3>Date</h3>
{{aDate | date}} <br>
{{aDate | date:"medium"}} <br>
{{aDate | date:"d/M/y"}}
<hr>
<h3>Json</h3>
{{car}} <br>
{{car | json}}
<hr>
<h3>Observable</h3>
{{$car}} <br>
{{$car | async}} <br>
{{$car | async | json}}




